$text-color: #6f1b2b;
$primary: #6f1b2b;
$navbar-light-active-color:#6f1b2b;
$navbar-light-color: #6f1b2b;
$header-bg: #f3ece3;

  @import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
  @import "../../../node_modules/@fortawesome/fontawesome-free/scss/fa-solid.scss";
  @import "../../../node_modules/@fortawesome/fontawesome-free/scss/fa-brands.scss";
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'base';
@import 'layout';
@import 'module';
@import 'state';

@mixin backgroundImage($bgImage) {

    background-image: $bgImage;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.background-banner
{ 
    @include backgroundImage(url(../../img/banner.jpg));
    position: relative;
    min-height: 65vh;
}

.startup-text-color{
    color: $text-color;
}

.background-light{
    background-color: $header-bg;
}

.navbar-logo{
    font-size: 1.7rem;
    text-decoration: underline;
}

.team-section{
    height: auto;
    width: 100%;
    @include backgroundImage(url(../../img/team-bg.jpg));
}

.teamDesc{
    color: #333;
}
.section-text{
    color: #dcdcdc;
    opacity: .8;
    letter-spacing: 0.02em;
    font-weight: 200;
    font-size: 30px;
}

.intro-text{
    font-size: 16px;
    text-align: center;
}

.client-section{
    background-color: #efefef;
}









